extends layout

block content
  include leds.html

block scripts
  script(type='text/javascript').
    $(document).ready(function() {
      $.get('/leds', function(response) {
        $.each([ 'green', 'blue', 'red' ], function( index, color ) {
          var identifier = "#" + color + "-led-switch"
          $(identifier).on('switchChange.bootstrapSwitch', function(event, state) {
            $.get(/leds/' + color + '/toggle', function(response) {
            });
          }).bootstrapSwitch({onColor: color, state: response[color]});
          $('.bootstrap-switch:has(' + identifier + ')').addClass('border-'+color)
        });
      });
    });
